

   .service-item[data-category="map"]  {
            font-family: Arial, sans-serif;
           /* margin: 15px; */
            text-align: right;
        }
        .service-item[data-category="map"] input {
           padding: 10px;
           border-radius: 5px;
           transition: background 0.3s ease;
           font-size: 0.9rem;
           border: 1px solid #ccc;
           margin-top: 5px
        }

 .service-item[data-category="map"] button {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
    font-size: 0.9rem;
    margin-top: 5px
  } 

.service-item[data-category="map"] button:hover {
    background: var(--secondary-color);
} 


        /* Map container styles */
       .service-item[data-category="map"] .map-container {
            flex: 1; /* Take up remaining space */
            display: flex;
            justify-content: right;
            align-items: center;
            background-color: #f4f4f4; /* Light background */
        }

      .service-item[data-category="map"] #map {
            /*width: 80%;
            height: 80%;*/
            border: 2px solid #ccc;
            border-radius: 8px;
        }

        /* Spinner and loading text styles */
     .service-item[data-category="map"] .spinner-container {
            display: none; /* Hidden by default */
            align-items: right;
            justify-content: right;
            margin-top: 20px;
            color: #0000ff; /* Blue text */
        }

       .service-item[data-category="map"] .spinner {
            border: 4px solid #f3f3f3; /* Light grey */
            border-top: 4px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
            display: inline-block;
            margin-left: 10px;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
