.service-item[data-category="DISCOUNT"] .formcontainer {
    font-family: Arial, sans-serif;
    direction: rtl; /* RTL base direction */
    text-align: right; /* Text alignment */
    background: white;
    margin-left: auto; /* Pushes container to right */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Important: use flex-start for RTL */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 90%;
}

    .service-item[data-category="DISCOUNT"] .formcontainer   h2 {
            text-align: center;
            color: #333;
        }

     .service-item[data-category="DISCOUNT"] .formcontainer   label {
            font-weight: bold;
            margin-top: 10px;
            display: block;
        }

   .service-item[data-category="DISCOUNT"] .formcontainer  input, select, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 0.9rem;
        }

 .service-item[data-category="DISCOUNT"] .formcontainer button {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
    font-size: 0.9rem;
    margin-top: 10px
  } 

 .service-item[data-category="DISCOUNT"] .formcontainer button:hover {
    background: var(--secondary-color);
} 

 .service-item[data-category="DISCOUNT"] .formcontainer .spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 10px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


   .service-item[data-category="DISCOUNT"] .formcontainer  #DiscountSuccessMessage {
            display: none;
            text-align: right;
            color: green;
            font-weight: bold;
            margin-top: 10px;
        }

.service-item[data-category="DISCOUNT"] .logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
